


ion-toolbar {
    --background: rgb(1, 40, 64);
    --color:rgb(242, 242, 242);
  
  }
  ion-header {
    margin-bottom: 20px; /* Ajusta el valor según sea necesario para el espacio deseado */
  }
  ion-content{
      
      margin-top: 20px;
    --background: rgb(242, 242, 242);
  }


  ion-item {
    margin-top: 20px;
  }


  ion-button {
    --background:rgb(242, 168, 29); 
    margin-top: 16px;
  }
  .centrate{
    text-align: center;
  }