ion-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
}

.centro {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative; /* Añadido para posicionar correctamente el texto sobre la imagen */
}

.profile-text {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: #fff; /* Añadido para que el texto sea visible en la imagen */
  font-size: 1.2em; /* Ajusta el tamaño del texto según sea necesario */
}

ion-title.menu-username {
  font-size: 2.5em;
  margin-top: 8px;
}

.welcome-message {
  font-size: 1.5em;
  margin-bottom: 8px;
}
.codigo-qr-img {
  max-width: 100%;    // Establece el ancho máximo al 100% del contenedor
  max-height: 100%;   // Establece la altura máxima al 100% del contenedor
  object-fit: contain; // Ajusta el contenido manteniendo la proporción original
}