<ion-menu side="end" contentId="main-content">
  <ion-header>
    <ion-toolbar class="header-toolbar">
      <br>
      <ion-avatar class="ion-align-self-center profile-image">
        <!-- Agrega aquí la URL o el path de la imagen de perfil -->
        <img src="../../assets/profe.jpeg" alt="Profile Image">
      </ion-avatar>
      <ion-title class="menu-username">
        {{ getUsername() }}
      </ion-title>
      <br>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item routerLink="/home-teacher">Home</ion-item>
      <ion-item (click)="logout()">Cerrar sesión</ion-item>
      <!-- Agrega más enlaces según tus necesidades -->
    </ion-list>
  </ion-content>
</ion-menu>

<ion-router-outlet id="main-content"></ion-router-outlet>

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Bienvenido, {{ getUsername() }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <ion-card *ngIf="mostrarQR">
    <br>
    <div class="centro">
      <qr-code [value]="tuDatoQR" [size]="300" [errorCorrectionLevel]="'M'"></qr-code>
    </div>
    <br>
    <br>
  </ion-card>

  <ion-button (click)="generarQR()" expand="block" fill="clear" shape="round">
    Generar QR
  </ion-button>
  <br>
  <br>
</ion-content>
