<!-- app.component.html -->
<ion-menu side="end" contentId="main-content">
  
  <ion-header>
    <ion-toolbar>
      <ion-title>{{ getUsername() }}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    
    <ion-list>
      <ion-item routerLink="/home-teacher">Home</ion-item>
      <ion-item (click)="logout()">Log Out</ion-item>
      
    </ion-list>
  </ion-content>
</ion-menu>

<ion-router-outlet id="main-content"></ion-router-outlet>

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Bienvenido, {{ getUsername() }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <br>
  <ion-card *ngIf="mostrarQR">
    <br>
    
    <div class="centro">
      <qr-code [value]="tuDatoQR" [size]="300" [errorCorrectionLevel]="'M'"></qr-code>
    </div>
    <br>
    <br>
  </ion-card>

  <ion-button (click)="generarQR()" expand="block" fill="clear" shape="round">
    Generar QR
  </ion-button>
  <br>
  <br>
</ion-content>

